header {
    background: black;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between
}

header .company-logo {
    margin-top: 10px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    header {
        padding: 10px 25px;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon img {
        margin-top: 10px;
        cursor: pointer;
    }
}