<main>
    <article class="about-us-container">
        <section class="about-us-heading">
            <h3>
                Mauris id bibendum est. Proin dapibus sollicitudin iaculis, MaeMauris id bibendum est. Proin dapibus sollicitudin iaculis, Mae
            </h3>
            <p>
                In maximus euismod egestas. Fusce tincidunt posuere est non eleIn maximus euismod egestas. Fusce tincidunt posuere est non eleIn maximus euismod egestas. Fusce tincidunt posuere est non eleIn maximus euismod egestas. Fusce tincidunt posuere est non eleIn
                maximus euismod egestas. Fusce tincidunt posuere est non eleIn maximus euismod egestas. Fusce est non ele
            </p>
        </section>
        <section class="map-image">
            <img src="assets/images/map.png" alt="map image">
        </section>
    </article>
</main>