<main>

    <div class="landing-page-container">
        <section>
            <h1>
                Integer bibendum sit amet arcu vel egestas.
            </h1>
            <ul class="service-menu">
                <li>
                    <img src="assets/images/people.png" alt="">
                    <span>service name</span>
                </li>
                <li>
                    <img src="assets/images/group.png" alt="">
                    <span>service name</span>
                </li>
                <li>
                    <img src="assets/images/folder.png" alt="">
                    <span>service name</span>
                </li>
            </ul>
        </section>
    </div>

</main>