<main class="connect-with-us-container">
    <h2>Convinced To Work With Us?</h2>
    <h3>Company has helped agencies keep their promises to clients since 2005.</h3>
    <form>
        <input type="text" name="" id="" class="small-input" placeholder="Fullname">
        <input type="text" name="" id="" class="small-input" placeholder="Email Address">
        <input type="text" name="" id="" class="small-input" placeholder="Phone Number">
        <textarea class="large-input" name="" id="" rows="7" placeholder="Message in brief"></textarea>

        <button class="primary-buttton submit-button">
          submit
        </button>
    </form>
</main>