nav.menu ul li {
    display: inline-block;
    padding: 0 25px;
    color: #9D9391;
    text-transform: capitalize;
    font-size: 20px;
}

nav.menu ul li.selected {
    color: #fff;
}

nav.menu ul {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

nav.menu button img,
nav.menu button span {
    margin-right: 10px;
    vertical-align: middle;
}

@media screen and (max-width: 960px) {
    nav.menu ul {
        position: fixed;
        left: -200px;
        top: 60px;
        background: #000;
        padding: 20px 10px;
        transition: left 0.5s ease-in-out;
        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -ms-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
    }
    nav.menu ul li {
        display: block;
        margin-bottom: 10px;
    }
    nav.menu button {
        background: #000;
    }
    nav.menu button span {
        display: none;
    }
    nav.menu ul.showMenu,
    nav.menu ul.showMenu:hover {
        left: 0;
    }
}