<main>
    <article class="testimonials-container">
        <h2>
            testimonials
        </h2>
        <section class="testimonials">
            <div class="testimonial">
                <div class="testimonial-text">
                    <img src="assets/images/quotations.png" alt="" class="quotes">
                    <p>
                        Mauris at quam at mauris venenatis eleifend. Nullam eleifend oMauris at quam at mauris venenatis eleifend. Nullam eleifend o
                    </p>
                    <img src="assets/images/testimonial-pointer.png" class="pointer" alt="">
                </div>
                <div class="client-information">
                    <img src="assets/images/client.png" alt="" class="client-image">
                    <div>
                        <span class="client-name">Client Name</span>
                        <span class="client-position">Position, ORG</span>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial-text">
                    <img src="assets/images/quotations.png" alt="" class="quotes">
                    <p>
                        Mauris at quam at mauris venenatis eleifend. Nullam eleifend oMauris atMauris at quam at mauris venenatis eleifend. Nullam eleifend oMauris atMauris at quam at mauris venenatis eleifend. Nullam eleifend oMauris at quam at mauris venenatis eleifend. Nullam
                        eleifend o
                    </p>
                    <img src="assets/images/testimonial-pointer.png" class="pointer" alt="">
                </div>
                <div class="client-information">
                    <img src="assets/images/client.png" alt="" class="client-image">
                    <div>
                        <span class="client-name">Client Name</span>
                        <span class="client-position">Position, ORG</span>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial-text">
                    <img src="assets/images/quotations.png" alt="" class="quotes">
                    <p>
                        Mauris at quam at mauris venenatis eleifend. Nullam eleifend oMauris at quam at mauris venenatis eleifend. Nullam eleifend o
                    </p>
                    <img src="assets/images/testimonial-pointer.png" class="pointer" alt="">
                </div>
                <div class="client-information">
                    <img src="assets/images/client.png" alt="" class="client-image">
                    <div>
                        <span class="client-name">Client Name</span>
                        <span class="client-position">Position, ORG</span>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>